<template>
    <div>
        <tabs>
            <tab name="Personal">
                <!-- Personal -->
                <form-section @submitted="submit('sendingPersonalInfo')">
                    <template #title>
                        Personal Information
                    </template>
                    <template #description>
                        Please provide personal details about yourself
                    </template>
                    <template #form>
                        <div class="flex flex-wrap">
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.first_name" :error="errors.first_name" label="First Name"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.middle_name" :error="errors.middle_name" label="Middle Name"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.last_name" :error="errors.last_name" label="Last Name"/>
                            <select-input class="w-full sm:w-1/2 sm:pr-2 mb-4" v-model="form.gender" :error="errors.gender" label="Gender">
                                <option :value="null" />
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select-input>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="date" v-model="form.date_of_birth" :error="errors.date_of_birth" label="Date of Birth"/>
                            <select-input class="w-full sm:w-1/2 sm:pr-2 mb-4" v-model="form.marital_status" :error="errors.marital_status" label="Marital Status">
                                <option :value="null" />
                                <option value="Married">Married</option>
                                <option value="Single">Single</option>
                                <option value="Divorced">Divorced</option>
                            </select-input>
                            <select-input class="w-full mb-4" v-model="form.category" :error="errors.category" label="Category">
                                <option :value="null" />
                                <option value="Substinance">Substinance</option>
                                <option value="Small Scale">Small Scale</option>
                                <option value="Commercial">Commercial</option>
                            </select-input>
                        </div>
                    </template>
                    <template #actions>
                        <loading-button :loading="sendingPersonalInfo" class="btn-green" type="submit">
                            Save
                        </loading-button>
                    </template>
                </form-section>
            </tab>
            <tab name="Contact">
                <!-- Contact -->
                <form-section @submitted="submit('sendingContactInfo')">
                    <template #title>
                        Contact Information
                    </template>
                    <template #description>
                        Please provide your contact information
                    </template>
                    <template #form>
                        <div class="flex flex-wrap">
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.phone" :error="errors.phone" label="Phone"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.email" :error="errors.email" label="Email"/>
                            <text-input class="w-full mb-4" type="text" v-model="form.residential_address" :error="errors.residential_address" label="Residential Address"/>
                            <text-input class="w-full mb-4" type="text" v-model="form.postal_address" :error="errors.postal_address" label="Postal Address"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.post_gps" :error="errors.post_gps" label="Ghana Post Gps"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.website" :error="errors.website" label="Website"/>
                        </div>
                    </template>
                    <template #actions>
                        <loading-button :loading="sendingContactInfo" class="btn-green" type="submit">
                            Save
                        </loading-button>
                    </template>
                </form-section>
            </tab>
            <tab name="Location">
                <!-- Location -->
                <form-section @submitted="submit('sendingLocationInfo')">
                    <template #title>
                        Location Information
                    </template>
                    <template #description>
                        Provide information about your location and origin
                    </template>
                    <template #form>
                        <div class="flex flex-wrap">
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.nationality" :error="errors.nationality" label="Nationality"/>
                            <select-input class="w-full sm:w-1/2 sm:pr-2 mb-4" v-model="form.region" :error="errors.region" label="Region">
                                <option :value="null" />
                                <option v-for="region in _regions.map(region => region.name)" :key="region" :value="region">{{region}}</option>
                            </select-input>
                            <select-input class="w-full sm:w-1/2 sm:pr-2 mb-4" v-model="form.district" :error="errors.district" label="District">
                                <option :value="null" />
                                <template v-if="form.region">
                                    <option v-for="district in _regions.filter(region => region.name == form.region)[0].districts" :key="district.id" :value="district.name">{{district.name}}</option>
                                </template>
                            </select-input>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.constituency" :error="errors.constituency" label="Constituency"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.place_of_birth" :error="errors.place_of_birth" label="Place of Birth"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.hometown" :error="errors.hometown" label="Hometown"/>
                        </div>
                    </template>
                    <template #actions>
                        <loading-button :loading="sendingLocationInfo" class="btn-green" type="submit">
                            Save
                        </loading-button>
                    </template>
                </form-section>                
            </tab>
            <tab name="Identification">
                <!-- Identification -->
                <form-section @submitted="submitIdForm('sendingIdInfo')">
                    <template #title>
                        Identification
                    </template>
                    <template #description>
                        Fill the form with a valid identification document
                    </template>
                    <template #form>
                        <div class="flex flex-wrap">
                            <select-input class="w-full mb-4" v-model="identificationForm.type" :error="errors.type" label="ID Type">
                                <option :value="null" />
                                <option value="Voters ID">Voters ID</option>
                                <option value="Drivers License">Drivers License</option>
                                <option value="Passport">Passport</option>
                                <option value="Ghana Card">Ghana Card</option>
                                <option value="NHIS">NHIS</option>
                            </select-input>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="identificationForm.number" :error="errors.number" label="ID Number"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="identificationForm.name" :error="errors.name" label="Name on ID"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="date" v-model="identificationForm.issued_on" :error="errors.issued_on" label="Issued on"/>
                            <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="date" v-model="identificationForm.expires_on" :error="errors.expires_on" label="Expires on"/>
                            <file-input class="w-full mb-4" v-model="identificationForm.photo" :error="errors.photo" type="file" accept="image/*" label="Photo of ID" />
                        </div>
                    </template>
                    <template #actions>
                        <loading-button :loading="sendingIdInfo" class="btn-green" type="submit">
                            Save
                        </loading-button>
                    </template>
                </form-section>                          
            </tab>
        </tabs>
        <!-- <h1 class="font-bold text-2xl mb-8">Profile</h1> -->


<!-- 
        <section-border></section-border>


        <section-border></section-border>


        <section-border></section-border> -->

    </div>
</template>


<script>
import Layout from '../Layout'
import FormSection from '@/Shared/FormSection'
import LoadingButton from '@/Shared/LoadingButton'
import TextInput from '@/Shared/TextInput'
import TextareaInput from '@/Shared/TextareaInput'
import SectionBorder from '@/Shared/SectionBorder'
import SelectInput from '@/Shared/SelectInput'
import FileInput from '@/Shared/FileInput'

import {Tabs, Tab} from 'vue-tabs-component';

export default {
    layout: Layout,

    components: {
        FileInput,
        SelectInput,
        SectionBorder,
        TextareaInput,
        TextInput,
        LoadingButton,
        FormSection,
        Tabs,
        Tab
    },

    props: {
        profile: Object,
        _identification: Object,
        _regions: Array,
        errors: Object,
    },

    data(){
        return {
            sendingPersonalInfo: false,
            sendingContactInfo: false,
            sendingLocationInfo: false,
            sendingIdInfo: false,

            form: {
                first_name: this.profile.first_name,
                middle_name: this.profile.middle_name,
                last_name: this.profile.last_name,
                gender: this.profile.gender,
                date_of_birth: this.profile.date_of_birth,
                marital_status: this.profile.marital_status,
                category: this.profile.category,

                phone: this.profile.phone,
                email: this.profile.email,
                residential_address: this.profile.residential_address,
                postal_address: this.profile.postal_address,
                post_gps: this.profile.post_gps,
                website: this.profile.website,

                nationality: this.profile.nationality,
                region: this.profile.region,
                constituency: this.profile.constituency,
                district: this.profile.district,
                place_of_birth: this.profile.place_of_birth,
                hometown: this.profile.hometown,
            },

            identificationForm: {
                type: this._identification.type,
                number: this._identification.number,
                name: this._identification.name,
                issued_on: this._identification.issued_on,
                expires_on: this._identification.expires_on,
                photo: this._identification.photo,
            }
        }
    },

    methods: {

        async submit(sectionButtonSpinner){
            try {
                this[sectionButtonSpinner] = true
                await this.$inertia.post(route('farmers.update', this.profile.id), this.form)
            } catch (error) {}
            this[sectionButtonSpinner] = false
        },

        async submitIdForm(sectionButtonSpinner){
            try {
                this[sectionButtonSpinner] = true
                await this.$inertia.post(route('identifications.update', this._identification.id), this.identificationForm)
            } catch (error) {}
            this[sectionButtonSpinner] = false
        },
    }
}
</script>

<style>
/* .tabs-component {
  margin: 4em 0;
} */

.tabs-component-tabs {
  border: solid 1px #ddd;
  border-radius: 6px;
  margin-bottom: 5px;
}

@media (min-width: 700px) {
  .tabs-component-tabs {
    border: 0;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1px;
  }
}

.tabs-component-tab {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0;
  list-style: none;
}

.tabs-component-tab:not(:last-child) {
  border-bottom: dotted 1px #ddd;
}

.tabs-component-tab:hover {
  color: #666;
}

.tabs-component-tab.is-active {
  color: #000;
}

.tabs-component-tab.is-disabled * {
  color: #cdcdcd;
  cursor: not-allowed !important;
}

@media (min-width: 700px) {
  .tabs-component-tab {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px 3px 0 0;
    margin-right: .5em;
    transform: translateY(2px);
    transition: transform .3s ease;
  }

  .tabs-component-tab.is-active {
    border-bottom: solid 1px #fff;
    z-index: 2;
    transform: translateY(0);
  }
}

.tabs-component-tab-a {
  align-items: center;
  color: inherit;
  display: flex;
  padding: .75em 1em;
  text-decoration: none;
}

.tabs-component-panels {
  padding: 4em 0;
}

@media (min-width: 700px) {
  .tabs-component-panels {
    border-top-left-radius: 0;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: 3em 2em;
  }
}
</style>