<template>
    <div class="bg-green-900">
        <div class="p-4 flex justify-between items-center text-white bg-gray-900">
            <inertia-link href="/" class="flex items-center">
                <img src="icon.png" alt="" class="h-12">
                eAIMS
            </inertia-link>
            <div v-if="$page.auth.user">
                <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                <form id="logout-form" :action="route('logout')" method="POST" style="display: none;">
                    @csrf
                </form>
            </div>
        </div>

        <div class="p-6 min-h-screen flex justify-center items-center">
            <div class="w-full max-w-md">
                <!-- <logo class="block mx-auto w-full max-w-xs fill-white" height="50" /> -->
                <logo class="block fill-white" height="50" />
                <!-- <p class="text-center text-white sm:text-3xl font-black tracking-widest uppercase">farmer registration, management & monitoring system</p> -->
                <div class="-mt-2 flex items-center justify-center rounded-b-lg overflow-hidden">
                    
                    <template v-if="!$page.auth.user">
                        <a href="/login" class="p-4 flex-1 text-center bg-gray-200 hover:bg-orange-500">Login</a>
                        <a href="/register" class="p-4 flex-1 text-center bg-gray-900 text-white hover:bg-orange-500">Register</a>
                    </template>

                    <a v-else :href="route('farmers.dashboard')" class="p-4 flex-1 text-center bg-green-700 text-white hover:bg-gray-800">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Logo from '@/Shared/Logo'
export default {
    components:{
        Logo: Logo
    }
}
</script>