<template>
    <div>
        <p class="text-gray-700 mb-8">
            <inertia-link :href="route('farmers.farms')">Farms</inertia-link>
             &nbsp;&nbsp; > &nbsp;&nbsp; create / update
        </p>

        

        <form-section @submitted="submit()">
            <template #title>
                Farm Data
            </template>
            <template #description>
                Please provide details about your farm
            </template>
            <template #form>
                <div class="flex flex-wrap">
                    <text-input class="w-full sm:w-1/2 sm:pr-2 mb-4" type="text" v-model="form.location" :error="errors.location" label="Location"/>
                    <select-input class="w-full sm:w-1/2 sm:pr-2 mb-4" v-model="form.type" :error="errors.type" label="Farm Type">
                        <option :value="null" />
                        <option value="Plant">Plant</option>
                        <option value="Animal">Animal</option>
                    </select-input>
                    <textarea-input class="w-full mb-4" type="text" v-model="form.description" :error="errors.description" label="Description"/>
                    <select-input class="w-full sm:w-1/2 sm:pr-2 mb-4" v-model="form.status" :error="errors.status" label="Farm Status">
                        <option :value="null" />
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select-input>
                </div>
            </template>
            <template #actions>
                <loading-button :loading="sending" class="btn-green" type="submit">
                    Save
                </loading-button>
            </template>
        </form-section>

        <section-border></section-border>

        <p class="text-2xl">Farm history</p>
    </div>
</template>

<script>
import Layout from '../Layout'
import FormSection from '@/Shared/FormSection'
import LoadingButton from '@/Shared/LoadingButton'
import TextInput from '@/Shared/TextInput'
import TextareaInput from '@/Shared/TextareaInput'
import SectionBorder from '@/Shared/SectionBorder'
import SelectInput from '@/Shared/SelectInput'

export default {
    layout: Layout,

    props: {
        errors: Object,
        farmer: Object,
        farm: Object
    },

    components: {
        SelectInput,
        SectionBorder,
        TextareaInput,
        TextInput,
        LoadingButton,
        FormSection,
    },

    data(){
        return {
            sending: false,
            form: {
                type: this.farm?.type,
                status: this.farm?.status,
                position: this.farm?.position,
                location: this.farm?.location,
                description: this.farm?.description,
            }
        }
    },

    methods: {
        async submit(){
            try {
                this.sending = true
                await this.$inertia.post(
                    route('farms.store-update', {
                        farmer: this.farmer.id, 
                        farm: this.farm?.id
                    }), this.form)
            } catch (error) {}
            this.sending = false
        }
    }
}
</script>