<template>
  <div>
    <h1 class="mb-8 font-bold text-2xl text-gray-800">My Farms</h1>

    <div class="mb-6 flex justify-between items-center">
      <inertia-link class="btn-green" :href="route('farms.create')">
        <span>Create</span>
        <span class="hidden md:inline">Farm</span>
      </inertia-link>
    </div>
    <div class="bg-white rounded shadow overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <tr class="text-left font-medium text-gray-700">
          <th class="px-6 pt-6 pb-4">Location</th>
          <th class="px-6 pt-6 pb-4">Description</th>
          <th class="px-6 pt-6 pb-4">Type</th>
          <th class="px-6 pt-6 pb-4">Status</th>
          <th class="px-6 pt-6 pb-4"></th>
        </tr>
        <tr v-for="farm in farms.data" :key="farm.id" class="hover:bg-gray-100 focus-within:bg-gray-100 cursor-pointer" 
          @click="$inertia.visit(route('farms.edit', farm.id))"
          >
          <td class="border-t px-6 py-4"> {{ farm.location }} </td>
          <td class="border-t px-6 py-4"> {{ farm.description | truncate(30)}} </td>
          <td class="border-t px-6 py-4"> {{ farm.type }} </td>
          <td class="border-t px-6 py-4"> {{ farm.status }} </td>

          <td class="px-4 border-t">
              <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
          </td>
        </tr>
        <tr v-if="farms.data.length === 0">
          <td class="border-t px-6 py-4" colspan="6">No farms found.</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import Layout from '../Layout'
import Icon from '@/Shared/Icon'

export default {
  metaInfo: { title: 'Farms' },

  layout: Layout,

  components: {
      Icon
  },

  props: {
    farms: Object,
    errors: Object,
  },
  
}
</script>
