<template>
  <div>
    <portal-target name="dropdown" slim />
    <div class="flex flex-col">
      <div class="h-screen flex flex-col" @click="hideDropdownMenus">
        <div class="md:flex flex-shrink-0">
          <div class="bg-green-900 md:flex-shrink-0 md:w-56 px-6 py-4 flex items-center justify-between md:justify-center">
            <inertia-link class="mt-1" href="/">
              <!-- <logo class="fill-white" width="120" height="28" /> -->
              <p class="text-white text-3xl tracking-widest font-medium leading-none">{{$page.app.name}}</p> 
            </inertia-link>
            <dropdown class="md:hidden" placement="bottom-end">
              <svg class="fill-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
              <div slot="dropdown" class="mt-2 px-8 py-4 shadow-lg bg-green-800 rounded">
                <main-menu :url="url()" />
              </div>
            </dropdown>
          </div>
          <div class="bg-white border-b w-full p-4 md:py-0 md:px-12 text-sm md:text-md flex justify-between items-center">
            <div class="mt-1 mr-4 capitalize">{{ $page.auth.user.name }}</div>
            <dropdown class="mt-1" placement="bottom-end">
              <div class="flex items-center cursor-pointer select-none group">
                <div class="text-gray-700 group-hover:text-green-600 focus:text-green-600 mr-1 whitespace-no-wrap">
                  <span>{{ $page.auth.user.name }}</span>
                  <!-- <span class="hidden md:inline">{{ $page.auth.user.name }}</span> -->
                </div>
                <icon class="w-5 h-5 group-hover:fill-green-600 fill-green-700 focus:fill-gray-600" name="cheveron-down" />
              </div>
              <div slot="dropdown" class="mt-2 py-2 shadow-xl bg-white rounded text-sm">
                <inertia-link class="block px-6 py-2 hover:bg-green-500 hover:text-white" :href="route('farmers.profile')">My Profile</inertia-link>
                <inertia-link class="block px-6 py-2 hover:bg-green-500 hover:text-white" :href="route('logout')" method="post">Logout</inertia-link>
              </div>
            </dropdown>
          </div>
        </div>
        <div class="flex flex-grow overflow-hidden">
          <main-menu :url="url()" class="bg-green-800 flex-shrink-0 w-56 p-12 hidden md:block overflow-y-auto" />
          <div class="flex-1 p-4 md:p-10 overflow-y-auto bg-gray-100 text-gray-800" scroll-region>
            <div class="max-w-screen-lg mx-auto">
              <flash-messages />
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from '@/Shared/Dropdown'
import FlashMessages from '@/Shared/FlashMessages'
import Icon from '@/Shared/Icon'
import Logo from '@/Shared/Logo'
import MainMenu from './MainMenu'

export default {
  components: {
    Dropdown,
    FlashMessages,
    Icon,
    Logo,
    MainMenu,
  },
  data() {
    return {
      showUserMenu: false,
      accounts: null,
    }
  },
  methods: {
    url() {
      return location.pathname.substr(1)
    },
    hideDropdownMenus() {
      this.showUserMenu = false
    },
  },
}
</script>
