<template>
  <div class="p-6 bg-green-900 min-h-screen flex justify-center items-center">
    <div class="w-full max-w-md">

      <!-- <logo class="block mx-auto w-full max-w-xs fill-white -mb-12" height="50" /> -->
      <!-- <p class="text-center text-white sm:text-3xl font-black tracking-widest uppercase">farmer registration, management & monitoring system</p> -->
      <!-- <img src="/icon.png" alt="" class="h-24 -mb-12 py-2 px-4 bg-white rounded-lg mx-auto"> -->
      <inertia-link href="/">
        <img src="/icon.png" alt="" class="h-24 mb-12 py-2 px-4 bg-white rounded-lg mx-auto">
      </inertia-link>

      <form class="bg-white rounded-lg shadow-xl overflow-hidden" @submit.prevent="submit">
        <div class="py-4 px-4 md:px-8">
          <!-- <h1 class="text-center font-bold sm:text-3xl">Welcome Back!</h1> -->
          <!-- <div class="mx-auto mt-6 w-24 border-b-2" />  -->

          <text-input v-model="form.phone" :error="errors.phone" class="mt-8" label="Phone" type="phone" autofocus autocapitalize="off" />
          <text-input v-model="form.password" class="mt-6" label="Password" type="password" />
          <label class="mt-6 select-none flex items-center" for="remember">
            <input id="remember" v-model="form.remember" class="mr-1" type="checkbox">
            <span class="text-sm">Remember Me</span>
          </label>
        </div>
        <div class="py-4 px-4 md:px-8 bg-gray-100 border-t border-gray-200 flex justify-between items-center">
          <a class="hover:underline" tabindex="-1" href="#reset-password">Forget password?</a>
          <loading-button :loading="sending" class="btn-green" type="submit">Login</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import LoadingButton from '../../Shared/LoadingButton'
import Logo from '../../Shared/Logo'
import TextInput from '../../Shared/TextInput'

export default {
  metaInfo: { title: 'Login' },
  components: {
    LoadingButton,
    Logo,
    TextInput,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      sending: false,
      form: {
        phone: '',
        password: '',
        remember: null,
      },
    }
  },
  methods: {
    async submit() {
        this.sending = true
        try {
            await this.$inertia.post(this.route('login.attempt'), this.form)
        } catch (error) {}
        this.sending = false
    },
  },
}
</script>
