<template>
  <div class="p-6 py-20 bg-green-900 min-h-screen flex justify-center items-center">
    <div class="w-full max-w-md">
      <!-- <logo class="block mx-auto w-full max-w-xs fill-white" height="50" /> -->
      
      <!-- <p class="text-center text-white sm:text-3xl font-black tracking-widest uppercase">farmer registration, management & monitoring system</p> -->
      <!-- <logo class="block mx-auto w-full max-w-xs fill-white -mb-12" height="50" /> -->

      <inertia-link href="/">
        <img src="/icon.png" alt="" class="h-24 mb-12 py-2 px-4 bg-white rounded-lg mx-auto">
      </inertia-link>


      <form class="bg-white rounded-lg shadow-xl overflow-hidden" @submit.prevent="submit">
        <div class="py-4 px-4 md:px-8">
          <!-- <h1 class="text-center font-bold sm:text-3xl">Create Account!</h1> -->
          <!-- <div class="mx-auto mt-6 w-24 border-b-2" />  -->

          <text-input class="mt-6" v-model="form.first_name" :error="errors.first_name"  label="First name" type="text" autofocus autocapitalize="off" />
          <text-input class="mt-6" v-model="form.last_name" :error="errors.last_name"  label="Last name" type="text" autofocus autocapitalize="off" />
          <text-input class="mt-6" v-model="form.phone" :error="errors.phone"  label="Phone" type="phone" autofocus autocapitalize="off" />
          <text-input class="mt-6" v-model="form.email" :error="errors.email"  label="Email" type="email" autofocus autocapitalize="off" />
          <text-input class="mt-6" v-model="form.password" label="Password" type="password" />
          <text-input class="mt-6" v-model="form.password_confirmation" label="Confirm Password" type="password" />

        </div>
        <div class="py-4 px-4 md:px-8 bg-gray-100 border-t border-gray-200 flex justify-between items-center">
            <p></p>
          <loading-button :loading="sending" class="btn-green" type="submit">Register</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import LoadingButton from '../../Shared/LoadingButton'
import Logo from '../../Shared/Logo'
import TextInput from '../../Shared/TextInput'

export default {
  metaInfo: { title: 'Login' },
  components: {
    LoadingButton,
    Logo,
    TextInput,
  },
  props: {
    errors: Object,
  },
  data() {
    return {
      sending: false,
      form: {
        first_name: '',
        last_name: '',
        phone: '',
        email: '',
        password: '1q2w3e4r',
        password_confirmation: '1q2w3e4r',
        remember: null,
      },
    }
  },
  methods: {
    async submit() {
        this.sending = true
        try {
            await this.$inertia.post(this.route('register.submit'), this.form)
        } catch (error) {}
        this.sending = false
    },
  },
}
</script>
